{% extends "base/base.html" %}
{% load static %}
{% load custom_filter %}
{% block content %}
    <div class="content-body">
        <!--Table Bootstrap-->
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div id="no-results-message"></div>
                    <div class="col-lg-6">
                        <form id="search-form" class="form-inline float-right" hx-post="{% url 'search-admissions-by-department' department_id=department.id %}" hx-trigger="keyup" hx-target="#search-results">
                            {% csrf_token %}
                                <div class="form-group mb-2">
                                <input type="text" name="search_input" class="form-control" placeholder="Search" hx-get-param="search_input">
                            </div>
                            <button type="submit" class="btn btn-primary mb-2">Search</button>
                        </form>
                    </div>
                </div>
                <div class="card-body">
                    
                    <div class="table-responsive">
                        <table class="table table-bordered verticle-middle table-responsive-sm">
                            <thead>
                                {% if admissions %}
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Patient</th>
                                        <th scope="col">Bed</th>
                                        <th scope="col">Starts at</th>
                                        <th scope="col">Finishes at</th>
                                        <th scope='col'>Total price</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                {% else %}
                                    <h5>There are no admissions in this department</h5>
                                {% endif %}
                            </thead>
                            <tbody id="search-results">
                                {% if searched_admissions %}
                                    {% include "partials/admission_search_results.html" %}
                                {% else %}
                                    {% for admission in admissions %}
                                        <tr>
                                            <td>{{ admission.id }}</td>
                                            <td>{{ admission.patient.get_full_name }}</td>
                                            <td>{{ admission.bed.room.name }}</td>
                                            <td>{{ admission.starts_at | date }}</td>
                                            <td>{{ admission.finishes_at | date }}</td>
                                            <td>{{ admission.calculate_total_price }} UZS</td>
                                            <td>{{ admission.status | display_admission_status }}</td>
                                            <td>
                                                <span>

                                                    <a href="#" class="mr-4" data-toggle="tooltip"
                                                        data-placement="top" title="View"><i
                                                                class="fa fa-eye color-muted"></i></a>
                                                </span>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                        
                    </div>
                    <nav>
                        <ul class="pagination pagination-sm pagination-gutter">
                            {% if admissions.has_previous %}
                                <li class="page-item page-indicator">
                                    <a class="page-link" href="?page={{ admissions.previous_page_number }}">
                                        <i class="icon-arrow-left"></i></a>
                                </li>
                            {% else %}
                                {% if patients %}
                                    <li class="page-item page-indicator">
                                        <a class="page-link" href="#">
                                            <i class="icon-arrow-left"></i></a>
                                    </li>
                                {% endif %}
                            {% endif %}
                            {% if admissions.paginator.num_pages > 1 %}
                                {% for num in admissions.paginator.page_range %}
                                    {% if num == admissions.number %}
                                        <li class="page-item active"><a class="page-link" href="javascript:void()">{{ num }}</a></li>
                                    {% else %}
                                        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            {% if admissions.has_next %}
                                <li class="page-item page-indicator">
                                    <a class="page-link" href="?page={{ admissions.next_page_number }}">
                                        <i class="icon-arrow-right"></i></a>
                                </li>
                                {% if admissions %}
                                    <li class="page-item page-indicator">
                                        <a class="page-link" href="#">
                                            <i class="icon-arrow-right"></i>
                                        </a>
                                    </li>
                                {% endif %}
                            {% endif %}
                            
                        </ul>
                    </nav>
                </div>
                
            </div>     
        </div>
    </div>
{% endblock content %}