{% extends "base/base.html" %}
{% load static %}

{% block content %}
    <div class="content-body">
        <div class="container-fluid">
            <div class="row page-titles mx-0">
                <div class="col-sm-6 p-md-0">
                    <div class="welcome-text">
                        <h4>{{ department.name }}</h4>
                        <p class="mb-0">Bulding: {{ department.building }}</p>
                    </div>
                </div>
                <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                    <ol class="breadcrumb">
                        <h5>Head Doctor: </h5><h8>{{ department.get_head_doctor }}</h8>
                    </ol>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <a href="{% url "show-patients-by-department" department_id=department.id %}">
                        <div class="card">
                            <div class="stat-widget-one card-body">
                                <div class="stat-icon d-inline-block">
                                    <i class="fa-regular fa-hospital-user text-primary border-primary"></i>
                                </div>
                                <div class="stat-content d-inline-block">
                                    <div class="stat-text">Patients</div>
                                    <div class="stat-digit">
                                        {{ department.get_all_patients|length }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>    
                </div>
                <div class="col-lg-3 col-sm-6">
                    <a href="{% url 'show-doctors-by-department' department_id=department.id %}">
                        <div class="card">
                            <div class="stat-widget-one card-body">
                                <div class="stat-icon d-inline-block">
                                    <i class="fa-solid fa-user-doctor text-primary border-primary"></i>
                                </div>
                                <div class="stat-content d-inline-block">
                                    <div class="stat-text">Doctors</div>
                                    <div class="stat-digit">{{ department.get_all_active_doctors.count }}</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <a href="{% url "show-staffs-by-department" department_id=department.id %}">
                        <div class="card">
                            <div class="stat-widget-one card-body">
                                <div class="stat-icon d-inline-block">
                                    <i class="fa-solid fa-users-line text-primary border-primary"></i>
                                </div>
                                <div class="stat-content d-inline-block">
                                    <div class="stat-text">Staffs</div>
                                    <div class="stat-digit">{{ department.get_all_active_staffs.count }}</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <a href="{% url 'show-admissions-by-department' department_id=department.id %}">
                        <div class="card">
                            <div class="stat-widget-one card-body">
                                <div class="stat-icon d-inline-block">
                                    <i class="fa-solid fa-address-card text-primary border-primary"></i>
                                </div>
                                <div class="stat-content d-inline-block">
                                    <div class="stat-text">Admissions</div>
                                    <div class="stat-digit">{{ department.get_all_admissions.count }}</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="row">
                
                <div class="col-lg-3 col-sm-6">
                    <a href="{% url "show-all-rooms" department_id=department.id %}">
                        <div class="card">
                            <div class="stat-widget-one card-body">
                                <div class="stat-icon d-inline-block">
                                    <i class="fa-sharp fa-solid fa-tents text-primary border-primary"></i>
                                </div>
                                <div class="stat-content d-inline-block">
                                    <div class="stat-text">Rooms</div>
                                    <div class="stat-digit">{{ department.get_all_rooms.count }}</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                
                <div class="col-lg-3 col-sm-6">
                    <a href="{% url 'show-beds-by-department' department_id=department.id %}">
                        <div class="card">
                            <div class="stat-widget-one card-body">
                                <div class="stat-icon d-inline-block">
                                    <i class="fa-sharp fa-solid fa-bed text-primary border-primary"></i>
                                </div>
                                <div class="stat-content d-inline-block">
                                    <div class="stat-text">Beds</div>
                                    <div class="stat-digit">{{ department.get_all_beds.count }}</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                
                <div class="col-lg-3 col-sm-6">
                    <div class="card">
                        <div class="stat-widget-one card-body">
                            <div class="stat-icon d-inline-block">
                                <i class="fa-solid fa-box-open text-primary box-primary"></i>
                            </div>
                            <div class="stat-content d-inline-block">
                                <div class="stat-text">Storages</div>
                                <div class="stat-digit">{{ department.get_all_department_storages.count }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="container-fluid">

            <!-- row -->

            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Basic Bar Chart</h4>
                                </div>
                                <div class="card-body">
                                    <canvas id="barChart_1"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Gradient Bar Chart</h4>
                                </div>
                                <div class="card-body">
                                    <canvas id="barChart_2"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Stalked Bar Chart</h4>
                                </div>
                                <div class="card-body">
                                    <canvas id="barChart_3"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Basic Line Chart</h4>
                                </div>
                                <div class="card-body">
                                    <canvas id="lineChart_1"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Gradient Line Chart</h4>
                                </div>
                                <div class="card-body">
                                    <canvas id="lineChart_2"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Dual Line Chart</h4>
                                </div>
                                <div class="card-body">
                                    <canvas id="lineChart_3"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Basic Area Chart</h4>
                                </div>
                                <div class="card-body">
                                    <canvas id="areaChart_1"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Gradinet Area Chart</h4>
                                </div>
                                <div class="card-body">
                                    <canvas id="areaChart_2"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Dual Area Chart</h4>
                                </div>
                                <div class="card-body">
                                    <canvas id="areaChart_3"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Radar Chart</h4>
                                </div>
                                <div class="card-body">
                                    <canvas id="radar_chart"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Pie Chart</h4>
                                </div>
                                <div class="card-body">
                                    <canvas id="pie_chart"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Doughnut Chart</h4>
                                </div>
                                <div class="card-body">
                                    <canvas id="doughnut_chart"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Polar Chart</h4>
                                </div>
                                <div class="card-body">
                                    <canvas id="polar_chart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'dashboard/vendor/raphael/raphael.min.js' %}"></script>
    <script src="{% static 'dashboard/vendor/morris/morris.min.js' %}"></script>
    <script src="{% static 'dashboard/js/plugins-init/morris-init.js' %}"></script>

    <!-- Chart ChartJS plugin files -->
    <script src="{% static 'dashboard/vendor/chart.js/Chart.bundle.min.js' %}"></script>
    <script src="{% static 'dashboard/js/plugins-init/chartjs-init.js' %}"></script>]

{% endblock scripts %}