{% load static %}

{% block header %}
    {% include "dashboard/helper/header.html" %}
{% endblock header %}

{% block body %}
    {% block preloader %}
        {% include "dashboard/helper/preloader.html" %}
    {% endblock preloader %}
    
    {% block nav_header %}
        {% include "dashboard/helper/nav_header.html" %}
    {% endblock nav_header %}

    {% block sidebar %}
        {% include "dashboard/helper/sidebar.html" %}
    {% endblock sidebar %}
    
    {% block content %}{% endblock content %}
{% endblock body %}


{% block script %}
{% comment %} JS script lins are here {% endcomment %}
    {% include "dashboard/helper/scripts.html" %}
{% endblock script %}

{% block footer %}
    {% include 'dashboard/helper/footer.html' %}
{% endblock footer %}