{% extends "base/base.html" %}
{% load static %}
{% load custom_filter %}
{% block content %}
    <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                <!-- row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="profile">
                            <div class="profile-head">

                                <div class="profile-info">
                                    <div class="row justify-content-center">
                                        <div class="col-xl-12">
                                            <div class="row">
                                                <div class="col-xl-4 col-sm-4 border-right-1 prf-col">
                                                    <div class="profile-name">
                                                        <h4 class="text-primary">{{ patient.get_full_name }}</h4>
                                                        <p>Patient</p>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-sm-4 border-right-1 prf-col">
                                                    <div class="profile-email">
                                                        <h4 class="text-muted">{{ patient.phone }}</h4>
                                                        <p>Phone</p>
                                                    </div>
                                                </div>
                                                <!-- <div class="col-xl-4 col-sm-4 prf-col">
                                                    <div class="profile-call">
                                                        <h4 class="text-muted">(+1) 321-837-1030</h4>
                                                        <p>Phone No.</p>
                                                    </div>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="profile-tab">
                                    <div class="custom-tab-1">
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item"><a href="#personal-info" data-toggle="tab" class="nav-link active show">Personal Information</a>
                                            </li>
                                            <li class="nav-item"><a href="#invoices" data-toggle="tab" class="nav-link">Invoices</a>
                                            </li>
                                            
                                        </ul>
                                        <div class="tab-content">
                                            <div id="invoices" class="tab-pane fade">
                                                <div class="my-post-content pt-3">
                                                    <!--Invoice content here-->
                                                    {% include "partials/hrm/invoices.html" %}
                                                </div>
                                            </div>
                                            <div id="personal-info" class="tab-pane fade active show">
                                                <br>
                                                <div class="profile-personal-info">
                                                    
                                                    <div class="row mb-4">
                                                        <div class="col-3">
                                                            <h5 class="f-w-500">Firstname<span class="pull-right">:</span>
                                                            </h5>
                                                        </div>
                                                        <div class="col-9"><span>{{ patient.first_name }}</span>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-4">
                                                        <div class="col-3">
                                                            <h5 class="f-w-500">Lastname<span class="pull-right">:</span>
                                                            </h5>
                                                        </div>
                                                        <div class="col-9"><span>{{ patient.last_name }}</span>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-4">
                                                        <div class="col-3">
                                                            <h5 class="f-w-500">Phone<span class="pull-right">:</span>
                                                            </h5>
                                                        </div>
                                                        <div class="col-9"><span>{{ patient.phone }}</span>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-4">
                                                        <div class="col-3">
                                                            <h5 class="f-w-500">Gender<span class="pull-right">:</span></h5>
                                                        </div>
                                                        <div class="col-9"><span>{{ patient.gender|display_gender }}</span>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-4">
                                                        <div class="col-3">
                                                            <h5 class="f-w-500">Date of birth<span class="pull-right">:</span>
                                                            </h5>
                                                        </div>
                                                        <div class="col-9"><span>{{ patient.date_of_birth|date}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-4">
                                                        <div class="col-3">
                                                            <h5 class="f-w-500">Address<span class="pull-right">:</span></h5>
                                                        </div>
                                                        <div class="col-9"><span>{{ patient.address }}</span>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-4">
                                                        <div class="col-3">
                                                            <h5 class="f-w-500">Insurance provider<span class="pull-right">:</span></h5>
                                                        </div>
                                                        <div class="col-9"><span>{{ patient.insurance_provider }}</span>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-4">
                                                        <div class="col-3">
                                                            <h5 class="f-w-500">Insurance policy number<span class="pull-right">:</span></h5>
                                                        </div>
                                                        <div class="col-9"><span>{{ patient.insurance_policy_number }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
{% endblock content %}
